<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", size: "75x50"), root_path, class: "navbar-brand" %>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <% if current_page?(root_path) %>
        <li class="aboutme-button"><a role="button">About</a></li>
        <li class="blog-button"><a role="button">Blog</a></li>
        <li class="projects-button"><a role="button">Projects</a></li>
        <li class="contact-button"><a role="button">Contact</a></li>
        <% else %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", posts_path  %></li>
        <li><%= link_to "Contact", contact_path  %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>