<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "20141029_DBC_199_H.jpg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Christopher Hui!</h1>
    <ol class="about_info">
      <li>Born on September 16, 1992 and currently living in in Diamond Bar, CA</li>

    </ol>
  </div>
</div>
