<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "20141029_DBC_199_H.jpg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Christopher Hui!</h1>
    <ol class="about_info">
      <li>Born on September 16, 1992 and currently living in in Diamond Bar, CA</li>
      <li>Graduated from UCR in December 2013 with a degree in Economics/Administrative Studies</li>
      <li>Recent Graduate from Dev Bootcamp SF, an intensive coding bootcamp</li>
      <li>Interested in Ruby, Rails, Sinatra, Javascript, HTML/CSS, Bootstrap, and pretty much anything that's learnable!</li>
      <li>Rock Climber, Powerlifter, Backpacker, Hiker</li>
      <li>Craft Beer Enthusiast: Working towards being a Certified Cicerone in my free time (yes, i am 21)</li>
      <li>Die Hard Sports Fan repping the Lakers, Dodgers, and Packers</li>
      <li>I cut beer bottles for fun to make shot and tumbler glasses</li>
      <li>I budget everything. I keep an eye on everything I spend money on and what I spend it on.</li>
      <li>I have superhuman strength for tolerating spicy food</li>
      <li>"The Office" Fanatic</li>
    </ol>
  </div>
</div>
