<div class="contact_container">

  <h1>Questions or Comments?</h1>

  <h1><%= mail_to "christopher.kam.hui@gmail.com", "Email Me!" %></h1>

  <h3>Or</h3>
  <h1>Visit one of my social media profiles below!</h1>
</div>
