<div class="welcome-banner">
  <div class="welcome-content">
    <h1>Christopher Hui</h1>
    <h3>Full-Stack Web Developer</h3>
    <button type="button" class="aboutme-button">
      <span class="glyphicon glyphicon-download"></span>
    </button>
  </div>
</div>
<div class="about-me">
  <div class="col-md-10 col-md-offset-1">
    <h1>About Me</h1>
    <p>My name is Christopher Hui and I graduated from the University of California, Riverside(UCR) with a degree in Economics/Administrative Studies. I've always had an appreciation for design and web development, but never had the time to dig into it. I attended Dev Bootcamp SF in attempt to jumpstart this new career path. I look forward to continue learning more about technology and improving myself as a programmer.</p>
  </div>
</div>
<div class="inspiration">
  <p>yoyoyo check out my cool stuff because i'm awesome</p>
</div>
<div class="blog">
  hello
</div>
<div class="projects">
  hello
</div>
<div class="contact">
  hello
</div>
