<div class="welcome-banner">
  <div class="welcome-content">
    <h1>Christopher Hui</h1>
    <h3>Full-Stack Web Developer</h3>
    <button>Explore</button>
  </div>
</div>
<div class="about-me">

</div>
