<div class="welcome-banner">
  <div class="welcome-content">
    <h1>Christopher Hui</h1>
    <h3>Full-Stack Web Developer</h3>
    <button type="button" class="banner-button">
      <span class="glyphicon glyphicon-download"></span>
    </button>
  </div>
</div>
<div class="about-me">

</div>
