$light_grey: #ccc;


.welcome-banner {
  height: 65rem;
  background-image: url('macbook.jpg');
  background-size: cover;
  background-position: 60% 40%;
  position: relative;
  text-align: center;
  .layer {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .welcome-content {
    color: #ccc;
    opacity: 0;
    button {
      outline: none;
      border: 0;
      background: transparent;
      padding-top: 7%;
      font-size: 4rem;
    }
    h1 {
      font-size: 6rem;
      padding: 10%;
    }
    h3 {
      font-size: 3rem;
    }
  }
}
.about-me, .inspiration, .blog, .projects, .contact {
  min-height: 30rem;
  background-color: #bd7b7b;
  overflow: hidden;
  text-align: center;
  border-top: 5px solid #ccc;
  // border-bottom: 5px solid #ccc;
  h1 {
    padding: 3%;
    font-size: 4rem;
  }
  p {
    line-height: 25px;
    font-size: 1.6rem;
    text-align: justify;
  }
  .about-me-button {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: $light_grey solid 2px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
.inspiration {
  min-height: 25rem;
  background-image: url('lead-climbing.jpg');
  background-size: cover;
  background-position: 100% 14%;
  text-align: center;
  position: relative;
  h3 {
    padding-top: 5%;
  }
  span {
    text-transform: uppercase;
  }
}
.blog {
  min-height: 35rem;
  background-image: url('blog-background-1.jpg');
  position: relative;
  background-size: cover;
  background-position: 60% 40%;
  p {
    font-size: 3rem;
    text-align: center;
  }
  .blog-button {
    margin-top: 3%;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: $light_grey solid 2px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
.projects {
  min-height: 25rem;
  background-color: white;
  // position: relative;
  padding-bottom: 5%;
  .projects-button, .github-button {
    margin-top: 3%;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: $light_grey solid 2px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  .github-button {
    padding-left: 2em;
    padding-right: 2em;
    background-color: $light_grey;
    border-radius: 0px;
    &:hover {
      background-color: $light_grey;
      opacity: 0.9;
    }
  }
  .thumbnail {
    background-color: $light_grey;
    display: block;
  }
}
.contact {
  min-height: 25rem;
  background-color: blue;
}

// Layer is a background color layer to make text more readable
.layer {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
