.welcome-banner {
  height: 65rem;
  background-color: #ADD8E6;
  text-align: center;
  .welcome-content {
    opacity: 0;
    button {
      outline: none;
      border: 0;
      background: transparent;
      padding-top: 7%;
      font-size: 4rem;
    }
    h1 {
      font-size: 6rem;
      margin: 0;
      padding: 10%;
    }
    h3 {
      font-size: 3rem;
    }
  }
}
.about-me {
  height: 35rem;
  background-color: #bd7b7b;
  text-align: center;
  h1 {
    padding: 2%;
    font-size: 4rem;
    margin: 0;
  }
  p {
    line-height: 25px;
    font-size: 1.6rem;
  }
}